/*
this css is made for customizing play+processing forum wich is moot-based forum
- play+processing forum is located at http://shengpo.github.io/playp5
- original location is at http://moot.it/playp5

by shengpo (shengpo.github.io)
*/


body {
 font-family: "myriad pro", tahoma, verdana, arial, sans-serif;
 margin: 0; padding: 0;
}

.moot {
 font-size: 18px;
}

#banner {
 height: 50px;
}

